<%- include ('header', {style: 'style'}) -%>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand" href="#">Cooler manager</h1>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <a class="btn btn-dark my-2 my-sm-0" href="companys/new" style="margin-right: 1em;">Add company</a>
        <a class="btn btn-dark my-2 my-sm-0" href="/">Log out</a>
    </nav>

    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                <div class="col-md-4" style="margin-bottom: 1em;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Company name</h4>
                            <h6 class="card-subtitle text-muted">Location</h6>
                            <p class="card-text p-y-1">Description</p>
                        </div>
                        <div class="container" style="padding-bottom: 1em;">
                            <div class="row">
                                <div class="col-8">
                                    <a href="/coolers/:companyid" class="btn btn-secondary btn-block">Open</a>
                                </div>
                                <div class="col-4">
                                    <a href="/company/del/:companyid" class="btn btn-danger btn-block">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 1em;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Company name</h4>
                            <h6 class="card-subtitle text-muted">Location</h6>
                            <p class="card-text p-y-1">Description</p>
                        </div>
                        <div class="container" style="padding-bottom: 1em;">
                            <div class="row">
                                <div class="col-8">
                                    <a href="company_details.html" class="btn btn-secondary btn-block">Open</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="btn btn-danger btn-block">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 1em;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Company name</h4>
                            <h6 class="card-subtitle text-muted">Location</h6>
                            <p class="card-text p-y-1">Description</p>
                        </div>
                        <div class="container" style="padding-bottom: 1em;">
                            <div class="row">
                                <div class="col-8">
                                    <a href="company_details.html" class="btn btn-secondary btn-block">Open</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="btn btn-danger btn-block">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden-md-up" style="margin-bottom: 1em;">
                <div class="col-md-4" style="margin-bottom: 1em;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Company name</h4>
                            <h6 class="card-subtitle text-muted">Location</h6>
                            <p class="card-text p-y-1">Description</p>
                        </div>
                        <div class="container" style="padding-bottom: 1em;">
                            <div class="row">
                                <div class="col-8">
                                    <a href="company_details.html" class="btn btn-secondary btn-block">Open</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="btn btn-danger btn-block">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 1em;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Company name</h4>
                            <h6 class="card-subtitle text-muted">Location</h6>
                            <p class="card-text p-y-1">Description</p>
                        </div>
                        <div class="container" style="padding-bottom: 1em;">
                            <div class="row">
                                <div class="col-8">
                                    <a href="company_details.html" class="btn btn-secondary btn-block">Open</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="btn btn-danger btn-block">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 1em;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Company name</h4>
                            <h6 class="card-subtitle text-muted">Location</h6>
                            <p class="card-text p-y-1">Description</p>
                        </div>
                        <div class="container" style="padding-bottom: 1em;">
                            <div class="row">
                                <div class="col-8">
                                    <a href="company_details.html" class="btn btn-secondary btn-block">Open</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" class="btn btn-danger btn-block">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('footer') -%>