<% include header %>
    <div class="container">
        <div class="py-5 text-center">
            <h2>Edit cooler</h2>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input class="form-control" type="text" value="Name old" id="example-tel-input">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input class="form-control" type="text" value="Type old" id="example-tel-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input class="form-control" type="text" value="Status old" id="example-tel-input">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-dark btn-lg" type="submit" href="company_details.html">Submit</a>
                            <a class="btn btn-danger btn-lg" type="submit" href="company_details.html">Delete</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include footer %>