<%- include ('header', {style: 'login'}) -%>
    <form class="form-signin" method="POST">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Cooler manager</h1>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
        <button type="button" class="btn btn-link">Forgot password</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2021</p>
    </form>
    <%- include ('footer') -%>